{{> header_links}}
<!-- header -->

<!-- header Ends -->

{{> header}}

<!-- Banner -->

<main>
    <section class="banner py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="banner_img pe-5">
                        <img src="img/about-us.jpg" alt="banner" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="banner_cont ps-4">
                        <h4 class="fw-light">About us</h4>
                        <h1>I'm learing MERN stack development.</h1>
                        <a href="/weather" class="btn btn-primary d-inline-block mt-3">Check now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Banner Ends -->

{{> footer}}