{{> header_links}}
<!-- header -->

<!-- header Ends -->

{{> header}}

<!-- Banner -->

<main>
    <section class="banner py-5">
        <div class="container">
            <div class="row flex-md-row flex-row-reverse align-items-center">
                <div class="col-md-6">
                    <div class="banner_cont">
                        <h4 class="fw-light">Welcome to Weather App</h4>
                        <h1>Get the latest info of your city.</h1>
                        <a href="/weather" class="btn btn-primary d-inline-block mt-3">Check now</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="banner_img">
                        <img src="img/banner.jpg" alt="banner" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Banner Ends -->

{{> footer}}